#############################################################################################
#############################################################################################
#  .oooooo..o oooooooooooo ooooo      ooo  .oooooo..o   .oooooo.   ooooooooo.    .oooooo..o #
# d8P'    `Y8 `888'     `8 `888b.     `8' d8P'    `Y8  d8P'  `Y8b  `888   `Y88. d8P'    `Y8 #
# Y88bo.       888          8 `88b.    8  Y88bo.      888      888  888   .d88' Y88bo.      #
#  `"Y8888o.   888oooo8     8   `88b.  8   `"Y8888o.  888      888  888ooo88P'   `"Y8888o.  #
#      `"Y88b  888    "     8     `88b.8       `"Y88b 888      888  888`88b.         `"Y88b #
# oo     .d8P  888       o  8       `888  oo     .d8P `88b    d88'  888  `88b.  oo     .d8P #
# 8""88888P'  o888ooooood8 o8o        `8  8""88888P'   `Y8bood8P'  o888o  o888o 8""88888P'  #
#############################################################################################
#############################################################################################

########################## Configuration of Detachable z probe ##############
#[probe]
#pin = !P1.28
#x_offset: 0.0
#y_offset: 0.0
#z_offset = 0.00
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#samples_result: average
#samples_tolerance_retries: 2

########################## Configuration Filament Sensors. #########################

#-#-#-#-#-#-#-#-# Configuration Filament Width Sensor. #-#-#-#-#-#-#-#-#
#[filament_switch_sensor e0_sensor]
#switch_pin: !P1.24
#The following information is available in filament_switch_sensor some_name objects:

#enabled: Returns True if the switch sensor is currently enabled.
#filament_detected: Returns True if the sensor is in a triggered state.
#filament_motion_sensor¶
#The following information is available in filament_motion_sensor some_name objects:

#enabled: Returns True if the motion sensor is currently enabled.
#filament_detected: Returns True if the sensor is in a triggered state.

#-#-#-#-#-#-#-#-# Configuration Filament Width Sensor. #-#-#-#-#-#-#-#-#
#[hall_filament_width_sensor]
#adc1:
#adc2:
#   Analog input pins connected to the sensor. These parameters must
#   be provided.
#cal_dia1: 1.50
#cal_dia2: 2.00
#   The calibration values (in mm) for the sensors. The default is
#   1.50 for cal_dia1 and 2.00 for cal_dia2.
#raw_dia1: 9500
#raw_dia2: 10500
#   The raw calibration values for the sensors. The default is 9500
#   for raw_dia1 and 10500 for raw_dia2.
#default_nominal_filament_diameter: 1.75
#   The nominal filament diameter. This parameter must be provided.
#max_difference: 0.200
#   Maximum allowed filament diameter difference in millimeters (mm).
#   If difference between nominal filament diameter and sensor output
#   is more than +- max_difference, extrusion multiplier is set back
#   to %100. The default is 0.200.
#measurement_delay: 70
#   The distance from sensor to the melting chamber/hot-end in
#   millimeters (mm). The filament between the sensor and the hot-end
#   will be treated as the default_nominal_filament_diameter. Host
#   module works with FIFO logic. It keeps each sensor value and
#   position in an array and POP them back in correct position. This
#   parameter must be provided.
#enable: False
#   Sensor enabled or disabled after power on. The default is to
#   disable.
#measurement_interval: 10
#   The approximate distance (in mm) between sensor readings. The
#   default is 10mm.
#logging: False
#   Out diameter to terminal and klipper.log can be turn on|of by
#   command.
#min_diameter: 1.0
#   Minimal diameter for trigger virtual filament_switch_sensor.
#use_current_dia_while_delay: False
#   Use the current diameter instead of the nominal diameter while
#   the measurement delay has not run through.
#pause_on_runout:
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:
#   See the "filament_switch_sensor" section for a description of the
#   above parameters.